body{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
background: linear-gradient(to right, #000428, #004e92);
}

h1{
text-align: center;
margin-top: 0px;
}

.back{
 background: linear-gradient(to right, #4e54c8, #8f94fb);
margin-left: 20px;
}

.container{

    justify-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 300px;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 10px;
}
button{
    width: 200px;
    height: 50px;
    font-size: larger;
    box-shadow: 2px 2px 5px;
    border-radius: 10px;
    transition: all 0.15ms;
    &:hover{
        cursor: pointer;
    }
    &:active{
        transform: translate3d(-1px, -1px, 0);
    }
}

.details{
     background: linear-gradient(to bottom, #d3959b, #bfe6ba);
    padding: 20px;
    box-shadow: 2px 2px 5px;
width: 500px;
    height: fit-content;
    border-radius: 25px;
}

label{
    font-size: larger;
}

.submit{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 

}