{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="{% static 'css/enter.css' %}">
</head>

<body>
    <a href="{% url 'home' %}"><button class="back">Back to Events</button></a>
    <div class="container">
        <div class="details">
                <h1>Enter Event Details</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

</body>

</html>